*{
  font-family: Inter;
}

a.nav-link {
  letter-spacing: 0.05em;
  color: #242120;
  font-weight: 500;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
}

button.btn.btn-primary {
  background: #FF5C00;
  box-shadow: 1px 4px 8px rgba(239, 88, 3, 0.2);
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.mx-auto.second_nav.navbar-nav a.nav-link{
  color: #000;
  margin-left: 20px;
}

.home{
  margin-top: 50px;
}

.home_left{
  margin-top: 100px;
}

.home_left h1{
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #000000;
}

.home_left sub{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #494949;
}

.home_right img{
  width: 100%;
}

.experience{
  background: #222222;
}

.exp_top{
  padding-top: 5rem;
}

.experience_left img{
  width: 100%;
}

.experience_right{
  color: #fff;
  padding-top: 80px;
}

.experience_right h4{
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.experience_right sub{
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
  padding: .5rem;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.experience_right p{
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding-top: 2rem;
}

.experience_right a{
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;

}
.share{
  background-image: url(./assets/slant.svg);
  background-repeat: no-repeat;
  height: 20px;
}

.users{
  padding: 100px 0;
}

.user_list h6{
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #474747;
  padding-top: 2rem;
}

.user_location{
  display: flex;
}

.user_location p{
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #535353;
}

.user_location .user_type{
  background: #EEF8FF;
  border-radius: 4px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #0D019A;
  font-weight: 600;
  padding: .5rem;
  margin: 0 0 2rem 2rem;
}

.user_list p{
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #474747;
}

.image img{
  width: auto;
}

.experience_two{
  background: #FFF8F5;
}

.exp_top_two{
  padding-top: 5rem;
}

.experience_left_two img{
  width: 100%;
}

.experience_right_two{
  color: #fff;
  padding-top: 10px;
}

.experience_right_two h4{
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: #242120;
}

.experience_right_two sub{
  border: 1px solid rgba(255, 92, 0, 0.4);
    box-sizing: border-box;
  border-radius: 4px;
  padding: .5rem;
  font-size: 10px;
  color: #FF5C00;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.experience_right_two p{
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #242120;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.experience_right_two a{
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FF5C00;
  padding-top: 2rem;
}

.user_list .vendor_type{
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #049A01 !important;
  background: #F0FFEE;
  border-radius: 4px;
  width: fit-content;
  padding: .5rem;
  font-weight: 600;
}

/* FOOTER */
.footer{
  background: #25201D;
  color: #fff;
  padding-bottom: 3rem;
}

.footer_left img{
  width: 100%;
  position: relative;
  z-index: 1000;
  top: -2rem;
}

.footer_right{
  padding-top: 100px;
}

.footer_right h3{
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.03em;
  font-weight: 700;
}

.footer_right p{
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  padding-top: 1.5rem;
}

input#inlineFormInputGroup {
  background: transparent;
  border: none;
  border-radius: 6px;
  color: #fff;
}

input#inlineFormInputGroup::placeholder{
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.mb-2.input-group {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: .3rem;
}

.input-group-prepend {
  background: #FFFFFF;
  box-shadow: 1px 4px 8px rgba(239, 88, 3, 0.2);
  border-radius: 4px;
  color: #242120;
}

span.input-group-text {
  background: #FFFFFF;
  color: #242120;
  font-weight: 700;
  box-shadow: 1px 4px 8px rgba(239, 88, 3, 0.2);
  border-radius: 4px !important;
}

.footer_links h6{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer_links ul{
  padding-left: 0;
}

.footer_links ul li{
  text-decoration: none;
  list-style: none;
  padding-top: 10px;
  font-family: Roboto;
  letter-spacing: 0.02em;

}

.footer_links ul li a{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-top: 30px;
}

.footer_links img{
  margin-left: 10px;
}

/* TESTIMONIAL FORM */
.testimonial{
  background: #FFFFFF;
  border-radius: 16px;
  width: fit-content;
  padding: 3rem .8rem;
}

.testimonial h3{
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: #000000;
  padding-bottom: 1.8rem;
}

label.form-label {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #676767;
}

.col .form-control{
  font-family: Roboto;
  background: #FEFEFE;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 8px;
}

label.custom-file-label {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #676767;
}

label.form-check-label {
  font-family: Roboto;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #242120;
}


input.form-check-input:checked ~ .checkmark {
  background-color: #FF5C00 !important;

}

.btn_form{
  display: flex;
  justify-content: flex-end;

}


button.pl-5.pr-5.pt-3.pb-3.btn.btn-primary {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

/* RESPONSE */
.response{
  width: fit-content;
  text-align: center;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 2rem;
}

.response h3{
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #000000;
}

.response .close_btn{
  background: #FF5C00;
  box-shadow: 2px 8px 30px rgba(230, 83, 0, 0.18);
  border-radius: 8px;
  padding: 1rem 3rem;
}

.response p{
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

@media(max-width: 768px){
  .response{

    border-radius: 16px;
    padding: 1rem;
  }
  
  .response p{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
}